#container {
  position: relative;
  width: 100vw;
  .dessert {
    width: 100%;
    padding: 0 5.5vw;
    header h1 {
      font-family: "Redhat-bold";
      font-size: 2rem;
      padding: 5.5vw 0;
    }
  }

  .cart {
    width: 100%;
    padding: 0 5.5vw 5vw;
    margin-bottom: .5rem;
  }

  .confirmation {
    position: absolute;
    animation: slide-up .3s ease-in forwards;
    background: rgba(0,0,0,0.3);
    width: 100%;
    padding: 25vw 0 0 0;
    .container {
      background: $rose-50;
      width: 100%;
      border-radius: 1rem 1rem 0 0;
      padding: 1rem 5vw 5vw;
    }
  }
}


@keyframes slide-up {
  from {
    top: 100vh;
  }
  to {
    top: 0;
  }
}
