#confirmation {
  //border: 1px solid red;
  header {
    //border: 1px solid green;
     margin-bottom: 2rem;
    .img-con {
      margin-top: 1rem;
      width: 3rem;
    }
    .title {
      h1 {
        font-size: 2rem;
        font-family: "redhat-bold";
        color: $rose-900;
      }
      p {
        color: $rose-400;
        font-family: "redhat-semibold";
        font-size: .8rem;
      }
    }
  }

  .item-container {
    //border: 1px solid blue;
    background: $rose-100;
    border-radius: 1rem;
    padding: 1rem;
    .item {
      //border: 1px solid blue;
      border-bottom: 1.5px solid rgba(201,174,165,.2);
      padding: .6rem 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: start;
      align-items: center;
      img {
        width: 3.5rem;
        border-radius: .5rem;
        margin-right: 1.2rem;
      }
      .detail {
        display: flex;
        flex-flow: column nowrap;
        //border: 1px solid red;
        font-family: "redhat-bold";
        color: $rose-900;
        font-size: .8rem;
        margin-right: auto;
        & p:last-of-type {
          span {
          color: $red;
          }
          & span:last-of-type {
            color: $rose-400;
            margin-left: 1.2rem;
            font-family: "redhat-regular";
          }
        }
        
      }
      p {
        font-family: "redhat-semibold";
      }
    }
    .total {
      //border: 1px solid red;
      margin-top: 1.2rem;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      font-family: "redhat-bold";
      font-size: 1.2rem;

      & span:first-of-type {
        font-size: .8rem;
        color: $rose-900;
        font-family:"redhat-semibold";

      }
    }
  }

  .restart {
    //border: 1px solid red;
    margin-top: 2rem;
    button {
      border: 1px solid $red;
      width: 100%;
      padding: 1rem;
      border-radius: 2rem;
      background: $red;
      font-size: 1rem;
      color: $rose-50;
      
    }
  }


}

